{{! The Hamburger for when Nav column has been collapsed }}
<div id="mobile-navbar">
  <button class="sidebar-open-button" type="button">
    <span class="hamburger"></span>
    <span class="sr-only">All topics</span>
  </button>
</div>
