// A place to add any SCSS customizations that you want for the "basic" build.
// To get an idea of what this might look like, check out app/stylesheets/_basic.scss
// Do not delete this file or build will break
