<div class="doc-copy">
  {{#if description}}
    <div class="definition-description">
      {{md (interpolateReferences description)}}
    </div>
  {{/if}}
  {{#if inputFields }}
    <div class="definition-properties">
      <table>
        <thead>
          <tr>
            <th>Input Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each inputFields}}
            <tr>
              <td>
                {{! The Value column }}
                {{~> graphql/name-and-type }}
              </td>
              <td>
                {{! The Description column }}
                {{#if description}}
                  {{md (interpolateReferences description)}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>
<div class="doc-examples">
  {{#if example }}
    <div class="example-section">
      <h5>Example</h5>
      {{printJSON example}}
    </div>
  {{/if}}
</div>
