<div class="doc-copy">
  {{#if description}}
    <div class="definition-description">
      {{md (interpolateReferences description)}}
    </div>
  {{/if}}
  {{#if fields}}
    <div class="definition-properties">
      {{>graphql/kinds/_fields .}}
    </div>
  {{/if}}
</div>
<div class="doc-examples">
  {{#if example }}
    <div class="example-section">
      <h5>Example</h5>
      {{printJSON example}}
    </div>
  {{/if}}
</div>
