{{! TODO: remove? }}
{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  Renders the paths-section of the Rest-Service definition
  @params {Path[]} paths a list of Swagger Path-Objects
  @api public
--}}

{{#if (nempty paths)}}
  {{#if showTagSummary}}
    <h1>Operations</h1>
  	{{#eachSorted paths}}
  	  {{>swagger/path pathItems=. path=@key}}
  	{{/eachSorted}}
  {{else}}
    {{# if tags.0.name}}
      <h1>{{ tags.0.name }}</h1>
    {{/if}}
    {{#each paths}}
      {{>swagger/path pathItems=. path=@key}}
    {{/each}}
  {{/if}}
{{/if}}
