{{! This really builds out the Queries and Mutations stuff  }}
{{#if (nempty tags) }}
  {{#each tags}}
    <h1 id="tag-{{htmlId name}}" class="swagger-summary-tag tag-name" data-traverse-target="tag-{{htmlId name}}">{{name}}</h1>
    {{#if description}}
      <div class="tag-description doc-row">
        <div class="doc-copy">
          {{md description}}
        </div>
      </div>
    {{/if}}
    {{! This really builds out the Queries and Mutations stuff  }}
    {{>swagger/operations/operations . method=method path=path}}
  {{/each}}
{{/if}}