{{#if description}}
  <section class="json-schema-description">
    {{md description}}
  </section>
{{/if}}
{{#if properties }}
  <section class="json-schema-properties-blank">
    <table>
      <tr>
        <th>Input Field</th>
        <th>Description</th>
      </tr>
      {{#each properties}}
        <tr>
          {{! The Value column }}
          <td>
            {{~> graphql/name-and-type name=@key parent=.. }}
          </td>
          <td>
            {{! The Description column }}
            {{#if description}}
              {{md description}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </table>
  </section>
{{/if}}