<div class="field-arguments">
  <p class="field-arguments-header">
    Arguments
  </p>
    {{#each args }}
      <div class="field-argument">
        <p class="field-argument-name">{{~>graphql/name-and-type . }}</p>
        {{#if description}}<p>{{ md (interpolateReferences description) }}</p>{{/if}}
      </div>
    {{/each}}
</div>
