<div id="intro-item-{{@index}}" data-traverse-target="intro-item-{{@index}}">
  <div class="doc-row">
    <h5 class="doc-intro-item">{{title}}</h5>
    <div class="doc-copy">
        {{md description}}
    </div>
    <div class="doc-examples">
    </div>
  </div>
</div>
