{{!--
  Renders the HTML head content
--}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#if favicon }}<link rel="icon" type="image/png" href="images/{{favicon}}" sizes="32x32">{{/if}}
<title>{{firstTruthy info.x-htmlTitle info.title "GraphQL API Reference"}}</title>
{{>layout/links-scripts}}
