<div id="page" class="drawer-layout">
  {{! DO THE NAVIGATION }}
  <div id="sidebar">
    <button class="close-button" aria-label="Close menu" type="button">
      <span aria-hidden="true">×</span>
    </button>
    {{#if logo}}
      <div id="logo">
        <img src="images/{{logo}}" title="{{info.title}}" />
      </div>
    {{/if}}
    {{>layout/nav/main}}
  </div>

  <div id="docs">
    {{! The Hamburger for when Nav column has been collapsed }}
    <button class="floating-menu-icon" type="button">
      <span class="hamburger"></span>
    </button>
    {{>layout/content/main}}
    <div class="drawer-overlay"></div>
  </div>
</div>
