<div id="page" class="drawer-layout">
  {{! DO THE NAVIGATION }}
  <div id="sidebar">
    <div class="sidebar-top-container">
      <div id="logo">
        {{#if logo}}
          <img src="images/{{logo}}" title="{{info.title}}" />
        {{/if}}
      </div>
      <button class="close-button" aria-label="Close menu" type="button">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {{>layout/nav/main}}
  </div>

  <div id="docs">
    {{! The Hamburger for when Nav column has been collapsed }}
    <button class="floating-menu-icon" type="button">
      <span class="hamburger"></span>
    </button>
    {{>layout/content/main}}
    <div class="drawer-overlay"></div>
  </div>
</div>
