{{#unless hideInNav}}
  {{#if makeNavSection}}
    <section>
  {{/if}}
  {{#if (equal depth 0)}}
    <h5>{{name}}</h5>
  {{else}}
    <a href="#{{./htmlId}}">{{name}}</a>
  {{/if}}
  {{#if makeNavSection}}
    <ul>
  {{/if}}
{{/unless}}
{{#each items}}
  {{#if ../makeNavSection}}<li>{{/if}}
  {{>layout/nav/item}}
  {{#if ../makeNavSection}}</li>{{/if}}
{{/each}}
{{#if makeNavSection}}
    </ul>
  </section>
{{/if}}