{{#unless hideInNav}}
  <li class="nav-group-section">
    <h5 class="nav-group-section-title">
      <a href="#{{./htmlId}}">{{name}}</a>
    </h5>
    <ul class="nav-group-section-items">
      {{#each items}}
        {{>layout/nav/item}}
      {{/each}}
    </ul>
  </li>
{{/unless}}
