<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
  </head>
  <body>
    <!-- Navigation -->
    {{> nav }}

    <!-- Content -->
    <div class="container">
      {{> body }}
    </div>

    <!-- Scripts -->
    <script src="{{assets}}/highlight.js"></script>
  </body>
</html>
