<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
  </head>
  <body>

    {{!-- "nav" partial
    ======================================= --}}
    {{> nav }}

    {{!-- content
    ======================================= --}}
    <div class="container">
      {{> body }}
    </div>

    {{!-- scripts
    ======================================= --}}
    <script src="{{assets}}/highlight.js"></script>
  </body>
</html>
