// Overrides for basic
//////////////////////

$max-content-width: 88em;
$drawer-size: 250px;
$drawer-size-desktop-large: 300px;

$content-padding: 20px;

$sidebar-top: 0px;
$sidebar-background: #fff;

$size-tablet: 32em;
$size-desktop: 48em;
$size-desktop-large: 64em;


// Variables used in this theme
//////////////////////

$font-family: 'Barlow','Open Sans',serif;
$font-family-monospaced: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
$text-color: #222222;
$text-color-subtle: #999999;
$link-color: #0298bf;
$link-color-hover: #0182a2;

$font-size-large-heading: 36px;


// Imports
//////////////////////

@import 'basic';
@import 'monokai';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Custom styles
//////////////////////

#spectaql {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.6;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }
    &:focus,
    &:active {
      color: $link-color;
    }
  }

  code {
    font-size: 14px;
    font-family: $font-family-monospaced;
  }

  pre {
    color: white;

    code {
      background: #222222;
    }
  }

  pre code,
  pre code.hljs {
    font-size: 13px;
    line-height: 1.4;
    padding: 15px 20px;
  }

  .doc-heading {
    margin-top: -10px;
    line-height: 1.2;
    font-size: $font-size-large-heading;
  }

  #sidebar {
    a {
      color: $text-color;
    }

    a.nav-scroll-active,
    a:hover {
      font-weight: bold;
    }

    a.nav-scroll-active {
      color: $text-color;
    }

    a:hover {
      color: $link-color-hover;
    }

    @media (min-width: $size-sidebar-break) {
      border-right: 2px solid #ccc;
    }
  }

  #sidebar,
  #docs {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: $size-sidebar-break) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  #nav,
  #logo,
  #docs {
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $size-sidebar-break) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  #logo {
    img {
      max-height: 18px;
    }
  }

  #nav {
    .nav-group {
      margin-top: 20px;

      li {
        margin-bottom: 5px;
      }
    }

    .nav-group-title {
      font-size: 14px;
      font-weight: normal;
      margin: 0 0 6px 0;
      color: $text-color-subtle;
    }

    .nav-group-section-title {
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
      font-weight: normal;
    }

    .nav-group-section-items {
      margin-left: 12px;
    }
  }

  .operation .operation-heading,
  .definition .definition-heading {
    font-size: $font-size-large-heading;
    code {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .group-heading,
  .operation-group-name,
  .definition-group-name {
    border-top: 2px solid #d8d8d8;
    padding-top: 3px;
    color: $text-color-subtle;
    font-size: inherit;
    font-weight: inherit;

    a {
      color: $text-color-subtle;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .doc-examples {
    .example-heading {
      display: none;
    }

    .example-section-is-code {
      h5 {
        height: 34px;
        line-height: 34px;
        color: #d8d8d8;
        text-transform: uppercase;
        background: black;
        font-size: 12px;
        font-weight: bold;
        padding-left: $content-padding;
        margin: 0;
        opacity: 1;
      }
    }
  }

  .doc-copy {
    h5 {
      margin: 0 0 5px 0;
      font-size: inherit;
      font-weight: inherit;
      color: $text-color-subtle;
    }

    p {
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .doc-copy-section {
      margin-bottom: 30px;
    }

    .operation-description h5,
    .definition-description h5,
    .definition-properties h5 {
      display: none;
    }
  }

}
