// Overrides for basic
//////////////////////

$max-content-width: 88em;
$drawer-size: 250px;
$drawer-size-desktop-large: 300px;

$content-padding: 20px;

$sidebar-top: 0px;
$sidebar-background: #fff;

$size-tablet: 32em;
$size-desktop: 48em;
$size-desktop-large: 64em;


// Variables used in this theme
//////////////////////

$font-family: 'Barlow','Open Sans',serif;
$font-family-monospaced: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
$text-color: #222222;
$text-color-subtle: #999999;
$link-color: #0298bf;
$link-color-hover: #0182a2;

$line-height: 1.6;
$line-height-heading: 1.2;
$line-height-code-block: 1.4;

$font-size: 16px;
$font-size-mobile: 14px;

$font-size-large-heading: 2.25em;
$font-size-large-heading-mobile: 1.72em;
$font-size-code: .875em;
$font-size-code-block: .82em;
$font-size-example-heading: .75em;


// Imports
//////////////////////

@import 'basic';
@import 'monokai';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Custom styles
//////////////////////

#spectaql {
  font-family: $font-family;
  font-size: $font-size-mobile;
  line-height: $line-height;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }
    &:focus,
    &:active {
      color: $link-color;
    }
  }

  code {
    font-size: $font-size-code;
    font-family: $font-family-monospaced;
  }

  pre {
    color: white;

    code {
      background: #222222;
    }
  }

  pre code,
  pre code.hljs {
    font-size: $font-size-code-block;
    line-height: 1.4;
    padding: 15px 20px;
  }

  // Main docs heading
  .doc-heading {
    margin-top: -10px;
    line-height: 1.2;
    font-size: $font-size-large-heading;
  }

  @media (min-width: $size-tablet) {
    font-size: $font-size;
  }

  #sidebar {
    a {
      color: $text-color;
    }

    a.nav-scroll-active,
    a:hover {
      font-weight: bold;
    }

    a.nav-scroll-active {
      color: $text-color;
    }

    a:hover {
      color: $link-color-hover;
    }

    @media (min-width: $size-sidebar-break) {
      border-right: 2px solid #ccc;
    }
  }

  #sidebar,
  #docs {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: $size-tablet) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (min-width: $size-sidebar-break) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  #nav,
  #logo,
  #docs {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: $size-tablet) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: $size-sidebar-break) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  #logo {
    img {
      max-height: 18px;
    }
  }

  #nav {
    .nav-group {
      margin-top: 20px;

      li {
        margin-bottom: 5px;
      }
    }

    .nav-group-title {
      font-size: 14px;
      font-weight: normal;
      margin: 0 0 6px 0;
      color: $text-color-subtle;
    }

    .nav-group-section-title {
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
      font-weight: normal;
    }

    .nav-group-section-items {
      margin-left: 12px;
    }
  }

  .operation,
  .definition {
    margin-bottom: 60px;

    .operation-heading,
    .definition-heading {
      font-size: $font-size-large-heading-mobile;

      code {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
      }

      @media (min-width: $size-tablet) {
        font-size: $font-size-large-heading;
      }
    }
  }


  .group-heading,
  .operation-group-name,
  .definition-group-name {
    border-top: 2px solid #d8d8d8;
    padding-top: 3px;
    color: $text-color-subtle;
    font-size: inherit;
    font-weight: inherit;

    a {
      color: $text-color-subtle;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .doc-examples {
    .example-heading {
      display: none;
    }

    .example-section-is-code {
      h5 {
        color: #d8d8d8;
        text-transform: uppercase;
        background: black;
        font-size: $font-size-example-heading;
        font-weight: bold;
        padding: 8px 0 8px $content-padding;
        margin: 0;
        opacity: 1;
      }
    }
  }

  .doc-copy {
    p {
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    table {
      width: 100%;

      tr th {
        font-weight: normal;
        border-bottom: 2px solid #d8d8d8;
      }

      tr td {
        border-bottom: 1px solid #ddd;
      }
      tr:last-child td,
      tr.row-has-field-arguments td {
        border-bottom: none;
      }

      tr td,
      tr th {
        padding: 5px;
      }

      tr th:first-child,
      tr td:first-child {
        padding-left: 0;
      }

      tr th:last-child,
      tr td:last-child {
        padding-right: 0;
      }
    }

    // Each section within the main content
    .doc-copy-section {
      margin-bottom: 30px;

      > h5 {
        margin: 0 0 5px 0;
        font-size: inherit;
        font-weight: inherit;
        color: $text-color-subtle;
      }
    }

    // Hide these titles
    .operation-description > h5,
    .definition-description > h5,
    .definition-properties > h5 {
      display: none;
    }
  }


  .field-arguments{
    background-color: #fafbfc;
    border: 1px #e6e6e6 solid;
    padding: 10px;
    margin-bottom: 5px;

    p {
      margin: 10px 0 0 0;
    }

    h5.field-arguments-heading {
      margin: 0;
      padding: 0 0 10px 0;
      font-size: 14px;
      font-weight: inherit;
    }

    .field-argument{
      border-top: 1px #e6e6e6 solid;
      padding: 10px 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .field-argument-name {
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
