// Overrides for basic
//////////////////////

$max-content-width: 88em;
$drawer-size: 250px;
$drawer-size-desktop-large: 300px;

$content-padding: 20px;

$sidebar-top: 0px;
$sidebar-background: #fff;

$size-tablet: 32em;
$size-desktop: 48em;
$size-desktop-large: 64em;


// Variables used in this theme
//////////////////////

$text-color: #222222;
$text-color-subtle: #999999;
$link-color: #0298bf;
$link-color-hover: #0182a2;


// Imports
//////////////////////

@import 'basic';
@import 'monokai';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Custom styles
//////////////////////

#spectaql {
  font-family: 'Barlow','Open Sans',serif;
  font-size: 16px;
  line-height: 1.6;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }
    &:focus,
    &:active {
      color: $link-color;
    }
  }

  code {
    font-size: 14px;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  }

  pre {
    color: white;

    code {
      background: #222222;
    }
  }

  pre code,
  pre code.hljs {
    font-size: 13px;
    line-height: 1.4;
    padding: 15px 20px;
  }

  .doc-heading {
    margin-top: -10px;
    line-height: 1.2;
    font-size: 36px;
  }

  #sidebar {
    a {
      color: $text-color;
    }

    a.nav-scroll-active,
    a:hover {
      font-weight: bold;
    }

    a.nav-scroll-active {
      color: $text-color;
    }

    a:hover {
      color: $link-color-hover;
    }

    @media (min-width: $size-sidebar-break) {
      border-right: 2px solid #ccc;
    }
  }

  #sidebar,
  #docs {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: $size-sidebar-break) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  #nav,
  #logo,
  #docs {
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $size-sidebar-break) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  #logo {
    img {
      max-height: 18px;
    }
  }

  #nav {
    .nav-group {
      margin-top: 20px;

      li {
        margin-bottom: 5px;
      }
    }

    .nav-group-title {
      font-size: 14px;
      font-weight: normal;
      margin: 0 0 6px 0;
      color: $text-color-subtle;
    }

    .nav-group-section-title {
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
      font-weight: normal;
    }

    .nav-group-section-items {
      margin-left: 12px;
    }
  }

}
