<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="index.html">ASSEMBLE</a>
      <ul class="nav">
        <li{{#is title "Home"}} class="active"{{/is}}>
          <a href="index.html">Home</a>
        </li>
        <li{{#is title "Partials"}} class="active"{{/is}}>
          <a href="partials.html">Partials</a>
        </li>
        <li{{#is title "Markdown"}} class="active"{{/is}}>
          <a href="markdown.html">Markdown</a>
        </li>
        <li{{#is title "Basic"}} class="active"{{/is}}>
          <a href="basic.html">Basic</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="https://github.com/assemble/assemble-examples">More Examples</a>
        </li>
        <li>
          <a href="https://github.com/assemble/assemble/">Visit Assemble</a>
        </li>
      </ul>
    </div>
  </div>
</div>
