{{! DO THE CONTENT }}
<article id="content">
  <h1 class="doc-title">{{info.title}}</h1>
  {{! Check if there is effectively nothing to do }}
  {{#unless (or info.x-hideIntroduction (and info.x-hideWelcome (or info.x-hideIntroItems (empty info.x-introItems))))}}
    {{>swagger/introduction/introduction}}
  {{/unless}}

  {{#unless securityDefinitions.x-spectacle-hide}}
    {{>swagger/securityDefinitions}}
  {{/unless}}

  {{>swagger/x-spectacle-topics}}

  {{! DO THE CONTENT }}
  {{#if (nempty orderedDataWithHeaders)}}
    {{#each orderedDataWithHeaders}}
      {{>layout/content/item}}
    {{/each}}
  {{/if}}

  {{! Powered by link }}
  <div class="doc-row no-margin">
    <div class="doc-copy doc-separator">
      {{#if externalDocs}}
      <a class="powered-by" href="{{externalDocs.url}}">{{externalDocs.description}}</a>
       {{else}}{{#unless info.x-hidePoweredBy }}
      <a class="powered-by" href="https://github.com/anvilco/spectaql">Documentation by <span>Anvil SpectaQL</span></a>
      {{/unless}}{{/if}}
    </div>
  </div>
</article>
