<div class="doc-copy">
  {{#if description}}
    <section class="json-schema-description">
      {{md (interpolateReferences description)}}
    </section>
  {{/if}}
</div>
<div class="doc-examples">
  {{#if example }}
    <section>
      <h5>Example</h5>
      {{printJSON example}}
    </section>
  {{/if}}
</div>
