<div class="doc-copy">
  {{#if description}}
    <div class="definition-description doc-copy-section">
      <h5>Description</h5>
      {{md (interpolateReferences description)}}
    </div>
  {{/if}}
  {{#if inputFields }}
    <div class="definition-properties doc-copy-section">
      <h5>Fields</h5>
      <table>
        <thead>
          <tr>
            <th>Input Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each inputFields}}
            <tr>
              <td>
                {{! The Input Field column }}
                {{~> graphql/name-and-type }}
              </td>
              <td>
                {{! The Description column }}
                {{#if description}}
                  {{>graphql/_description-with-defaults}}
                {{/if}}
                {{#if (and deprecationReason (not @root.info.x-hideDeprecationReason))}}
                  <span class="deprecation-reason">{{ md deprecationReason stripParagraph=true }}</span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>
<div class="doc-examples">
  {{#if example }}
    <div class="example-section example-section-is-code">
      <h5>Example</h5>
      {{printJSON example}}
    </div>
  {{/if}}
</div>
