name: CI Lint And Test

on:
  push:
    branches: [ main ]
  pull_request:

env:
  NODE_VERSION_MAJOR: 16
  GITHUB_SHA: ${{ github.event.pull_request.head.sha }}
  TARBALL_PATH: test/e2e/spectaql.tgz

jobs:

  prepare-node:
    name: Prepare Node
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ env.NODE_VERSION_MAJOR }}.x
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION_MAJOR }}
        cache: 'yarn'
    - run: yarn install

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare-node

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ env.NODE_VERSION_MAJOR }}.x
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION_MAJOR }}
        cache: 'yarn'

    - run: yarn install
    - run: yarn lint:quiet

  build-e2e-package:
    name: Build E2E Package
    runs-on: ubuntu-latest
    needs: prepare-node

    steps:
    - uses: actions/checkout@v3

    - name: Cache Package Build
      id: cache-package-build
      uses: actions/cache@v3
      with:
        # We'll cache this file
        path: ${{ env.TARBALL_PATH }}
        key: ${{ runner.os }}-node-v${{ env.NODE_VERSION_MAJOR }}-${{ env.GITHUB_SHA }}

    - name: Use Node.js ${{ env.NODE_VERSION_MAJOR }}.x
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION_MAJOR }}
        cache: 'yarn'

    - run: yarn install
    - run: yarn test-e2e:build

  unit-test-and-package-test:
    name: Unit Test & Package Test
    runs-on: ubuntu-latest
    needs: build-e2e-package
    strategy:
      matrix:
        node-version: [14, 16, 18]

    steps:
    - uses: actions/checkout@v3

    - name: Test vendor package
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-compile-handlebars

    - name: Test vendor package grunt-embed
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-embed

    - name: Test vendor package grunt-prettify
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-prettify

    - name: Test vendor package reorient-css
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: reorient-css

    - name: Test vendor package resource-embedder
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: resource-embedder

    - name: Restore Cached Package Build
      id: cache-package-build
      uses: actions/cache@v3
      with:
        # This is the file to cache / restore
        path: ${{ env.TARBALL_PATH }}
        key: ${{ runner.os }}-node-v${{ env.NODE_VERSION_MAJOR }}-${{ env.GITHUB_SHA }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    # Node 14 ships with a version of NPM that does not work for us
    - name: Optionally update NPM if needed
      if: ${{ matrix.node-version == '14' }}
      run: npm i -g npm@7
    - run: yarn test-e2e:install-and-test
    - run: yarn install
    - run: yarn test
