name: CI Lint And Test

on:
  push:
    branches: [ main ]
  pull_request:

env:
  GITHUB_SHA: ${{ github.event.pull_request.head.sha }}
  TARBALL_PATH: test/e2e/spectaql.tgz

jobs:

  prepare-node:
    name: Prepare Node
    runs-on: ubuntu-latest
    outputs:
      build-node-version: ${{ steps.setup-node.outputs.node-version }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      id: setup-node
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - run: yarn install

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare-node

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'

    - run: yarn install
    - run: yarn lint:quiet

  build-e2e-package:
    name: Build E2E Package
    runs-on: ubuntu-latest
    needs: prepare-node

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      id: setup-node
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'

    - name: Cache Package Build
      uses: actions/cache@v3
      with:
        # We'll cache this file
        path: ${{ env.TARBALL_PATH }}
        key: ${{ runner.os }}-node-${{ needs.prepare-node.outputs.build-node-version }}-${{ env.GITHUB_SHA }}

    - run: yarn install
    - run: yarn test-e2e:build

  unit-test-and-package-test:
    name: Unit Test & Package Test
    runs-on: ubuntu-latest
    needs:
      - prepare-node
      - build-e2e-package
    strategy:
      fail-fast: false
      matrix:
        node-version: [14, 16, 18]
        include:
          - node-version: 14
            npm-version: 7
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      id: setup-node
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Test vendor package grunt-compile-handlebars
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-compile-handlebars

    - name: Test vendor package grunt-prettify
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-prettify

    - name: Test vendor package reorient-css
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: reorient-css

    # MUST GO AFTER reorient-css
    - name: Test vendor package resource-embedder
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: resource-embedder

    # MUST GO AFTER resource-embedder
    - name: Test vendor package grunt-embed
      uses: ./.github/actions/test-vendor-package
      with:
        package_name: grunt-embed

    - name: Restore Cached Package Build
      uses: actions/cache@v3
      with:
        # This is the file to cache / restore
        path: ${{ env.TARBALL_PATH }}
        key: ${{ runner.os }}-node-${{ needs.prepare-node.outputs.build-node-version }}-${{ env.GITHUB_SHA }}

    # Some versions of Node (like Node 14) ships with a version of NPM that does not work for us
    # so we need to install a specific version
    - name: Optionally update NPM if needed
      if: ${{ matrix.npm-version }}
      run: npm i -g npm@${{ matrix.npm-version }}
    - run: yarn test-e2e:install-and-test
    - run: yarn install
    - run: yarn test

    - name: Make sure things install using NPM
      run: rm -rf node_modules && npm install
